@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  background: #0b0e1a;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}
h1 {
  margin: 20px;
}
canvas {
  display: block;
  margin: 0 auto;
  background: #0f1220;
}
.startScreen {
  background: #161a2a;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: auto;
  gap: 10px;
}
/* form button{
  margin: 0;
} */
p {
  margin: 20px;
}
input,
button {
  outline: none;
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
#dictionaries {
  display: flex;
  width: 90%;
  max-width: 300px;
  margin: auto;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  border: 1px solid #ffffff55;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  /* margin: 5px; */
}
button:hover {
  border: 1px solid #fff;
  background-color: #1e2240;
}
#options {
  border-top: 1px solid #ffffff55;
  width: 90%;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.option {
  display: flex;
  align-items: center;
  gap: 5px;
}
input[type="checkbox"] {
  accent-color: #fff;
}
label{
  line-height: 40px;
}
